<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>金研复盘-个股涨停</title>
<meta name="keywords" content="金研复盘">
<meta name="description" content="金融研究复盘系统">
<link href="../static/main.css"  rel="stylesheet" />
<link href="../static/style.css"  rel="stylesheet" />
<link href="../static/table.css"  rel="stylesheet" />
<link href="../static/img-border.css" rel="stylesheet"/>

<script src="../static/jquery-1.8.3.min.js"  type="text/javascript"></script>
<script src="../static/jquery.SuperSlide.2.1.1.js" ></script>
<script src="../static/tablecolor.js" type="text/javascript"></script>

<!--ie9以下调用-->
<!--[if lt IE 9]>
<script src="js/html5.js" ></script>
<script src="js/PIE.js"  type="text/javascript"></script>
<![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<!--头部-->
<header>
	<div class="beijing">
		<h2><a href="/" ><em><img class="abc" src="../static/name.png"></em></a></h2>
		<ul>
			<li>
				<a class="menu_1 "  href="/" >首页</a>
			</li>

			<li>
				<a class="menu_1 hover" href="Price-Limit">个股涨停<em></em></a>
				<div class="menu ">
					<div class="menu_right">
						<!--dl循环-->
                        <dl>
							<dt><a href="Price-Limit"><img src="../static/img_Price-Limit.png" ></a></dt>
							<dd>
								<div class="menu_right1" style="text-indent:2em;">涨停是股票交易活动的一种客观反映，它记录着多空双方争夺的炽热状态；是股票交易量变引起质变的一种重要表现形式；是买卖双方交锋买方占绝对优势的呈现；是主力资金运动趋向的一种显示；是利好由潜在变为现实的一种标志。您可以在本网站上获得涨跌停股票的数量、名称，以及连板股的连板数。</div>
								<div class="menu_right2"><a href="Price-Limit">查看详细</a></div>
							</dd>
						</dl>
                    </div>
                </div>	
			</li>
			
			<li>
				<a class="menu_1 " href="Order-List">龙虎榜单<em></em></a>
				<div class="menu ">
					<div class="menu_right">
						<!--dl循环-->
                        <dl>
                            <dt><a href="Order-List"><img src="../static/img_Order-List.png" ></a></dt>
                            <dd>
                                <div class="menu_right1" style="text-indent:2em;">龙虎榜是沪深交易中每日两市中涨跌幅、换手率等由大到小的排名榜单，登上龙虎榜的这些股票可能是当时股市的热点，也可以在所属板块挖掘有补涨潜力个股。本网站提供全面的龙虎榜交易数据，让您及时了解各个股异动原因，持续跟踪主力动向，最活跃个股、敢死队营业部、机构席位买卖股信息全面覆盖。</div>
                                <div class="menu_right2"><a href="Order-List">查看详细</a></div>
                            </dd>
                          </dl>
                    </div>
                </div>	
			</li>

			<li>
				<a class="menu_1 " href="Economic-Calendar">财经日历<em></em></a>
				<div class="menu ">
					<div class="menu_right">
						<!--dl循环-->
                        <dl>
							<dt><a href="Economic-Calendar"><img src="../static/img_Economic-Calendar.png" ></a></dt>
							<dd>
								<div class="menu_right1">
									<p>News1</p>
									<p>News2</p>
									<p>News3</p>
								</div>
								<div class="menu_right2"><a href="Economic-Calendar">更多资讯</a></div>
							</dd>
						</dl>
                    </div>
                </div>	
			</li>

			<li>
				<a class="menu_1 " href="Research-Report">研报分析<em></em></a>
				<div class="menu ">
					<div class="menu_right">
						<!--dl循环-->
                        <dl>
							<dt><a href="Research-Report"><img src="../static/img_Research-Report.png" ></a></dt>
							<dd>
								<div class="menu_right1">
									<a href="{{ m[0][3] }}"><p>{{ m[0][2] }}</p></a>
									<a href="{{ m[1][3] }}"><p>{{ m[1][2] }}</p></a>
									<a href="{{ m[2][3] }}"><p>{{ m[2][2] }}</p></a>
								</div>
								<div class="menu_right2"><a href="Research-Report">更多研报</a></div>
							</dd>
						</dl>
                    </div>
                </div>	
			</li>
												
			<li>
				<a class="menu_1 " href="Team">关于我们<em></em></a>
				<div class="menu ">
					<div class="menu_right">
						<!--dl循环-->
                        <dl>
							<dt><a href="Team"><img src="../static/img_Team.png" ></a></dt>
							<dd>
								<div class="menu_right1">
									<p>	北京林业大学理学院金融研究社 </p>
									<p>	地址：北京市海淀区清华东路35号 </p>
									<p> email:BLLYJYS@163.com </p>
								</div>
								<div class="menu_right2"><a href="Team">查看详细</a></div>
							</dd>
						</dl>
                    </div>
                </div>
			</li>
																																																																																																																																																																					
		</ul>
		<div class="clear"></div>		
	</div>
	<div class="clear"></div>
</header>

<div class="main_banner" style="background-image: url(../static/background-image_zhangting.png);">
<img src="../static/src_zhangting.png" alt="">	
</div>
<!--主体-->
<div class="beijing1">
	<hr />
		<div class="service">
			<div style="text-indent: 2em;font-size:18px;font-weight:bold;">
				涨停（Limit up），是一个证券市场术语。涨跌停板制度源于国外早期证券市场，是证券市场中为了防止交易价格的暴涨暴跌，抑制过度投机现象，对每支证券当天价格的涨跌幅度予以适当限制的一种交易制度，规定了交易价格在一个交易日中的最大波动幅度为前一交易日收盘价上下百分之几。即规定当日交易最高价格和最低价格。
			</div>
			<div style="text-indent: 2em;font-size:16px;">
				在中国A股市场，均设有涨幅和跌幅的限制，幅度为上一日收盘价的10%。股票上市首日有效申报价格不得高于发行价格的144%，即新股上市首日涨幅限制为44%。股市中的权证没有涨停和跌停限制。
			</div>
            <div class="img-border">
                <img  class="double-border" src="../static/test.png" height="467" width="843">
            </div>
             <!-- 市场情绪温度计4根 -->



        	<!-- 接下来插入个股涨停表格 -->
            <table class="imagetable" id="alternatecolor">
        {% for t in v %}
            <th>时间</th>
            <th>{{ t[1] or '' }}</th>
            <th>{{ t[2] or '' }}</th>
            <th>{{ t[3] or '' }}</th>
            <th>{{ t[4] or '' }}</th>
            <th>{{ t[5] or '' }}</th>
            <th>{{ t[6] or '' }}</th>
            <th>{{ t[7] or '' }}</th>
            <th>{{ t[8] or '' }}</th>
            <th>{{ t[9] or '' }}</th>
            <th>{{ t[10] or '' }}</th>
        {% endfor %}

        {% for i in u %}
            <tr>
                <td>{{ i[1]  or '' }}</td>
                <td>{{ i[2]  or '' }}</td>
                <td>{{ i[3]  or '' }}</td>
                <td>{{ i[4]  or '' }}</td>
                <td>{{ i[5]  or '' }}</td>
                <td>{{ i[6]  or '' }}</td>
                <td>{{ i[7]  or '' }}</td>
                <td>{{ i[8] or '' }}</td>
                <td>{{ i[9]  or '' }}</td>
                <td>{{ i[10] or '' }}</td>
                <td>{{ i[11] or '' }}</td>
            </tr>
    {% endfor %}
    </table>




		</div>
	</div>

<footer class="ppp">
	<p style="font-size:13px;font-weight:bold">  金融研究复盘系统 北林金研社开发 </p>
	<p style="font-size:13px;font-weight:bold"> Address：北京市海淀区清华东路35号 Tel：010-88886666 </p>
</footer>

<div style="text-align: center; position: fixed; bottom: 0; width: 100%; line-height: 150%; background: #f5f5f5; border-top: 1px solid #ddd;">  <a style="color:blue" target="_blank" href="https://ibaotu.com/ui/">  </a>
	</div>
</body>
</html>

<script type="text/javascript" src="../static/xmsz_common.js" ></script>
<!--[if IE 6]><script type="text/javascript" src="js/pngfix.js" ></script><![endif]-->
